<div id="container">
    <div id="setup">
        <button>Create new todo</button>
        <button>Toggle Style</button>
    </div>

    <div id="filter">
        <button>Name</button>
        <button>By Due Date</button>
        <button>By Creation DAte</button>
        <button>By Importance</button>
        <button>Filter Completed</button>
    </div>

    <div id="notes">
        {{#each notes}}
            <div class="note-item">
                <div class="item1">
                    <p class="note-duedate">in a day</p>
                    <label for="finished">
                        <input class="note-status" type="checkbox" name="finished">
                    </label>
                </div>
                <div class="item2">
                    <p class="note-title">Title</p>
                    <p class="note-description">Description</p>
                </div>
                <div class="item3">
                    <p class="note-importance">Very important</p>
                    <button class="note-button note-editBtn" type="submit">Edit</button>
                </div>
            </div>
        {{else}}
            <div>unlucky</div>
        {{/each}}
    </div>
</div>
