#container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#setup {
    display: flex;
    justify-content: space-between;
}

#filter {
    justify-content: space-between;
}

#notes {
    display: flex;
    flex-direction: column;
}

.note-item {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.item1 {
    flex-grow: 2
}

.item2 {
    flex-grow: 5
}

.item3 {
    flex-grow: 2
}
