body {
    color: #eee;
    background: #121212;
    display: flex;
    justify-content: center;
}

#no-Notes {
    width: 250px;
}

#container, #todoForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#setup {
    display: flex;
    justify-content: space-between;
}

#filter {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 5px 0 5px 0;
}

#notes {
    display: flex;
    flex-direction: column;
}

.note-item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px solid #9699a3;
    padding-bottom: 15px;
}

.item1 {
    flex-grow: 2;
    max-width: 26%;
}

.item2 {
    flex-grow: 5;
    max-width: 48%;
}

.item3 {
    flex-grow: 2;
    max-width: 26%;
}

.formRow {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.formRow > label {
    padding: .25em 0.5em .25em 0;
    flex: 1;
}

.formRow > input, textarea {
    flex: 3;
}

#todoButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#todoForm {
    display: flex;
}

@media screen and (min-width: 30em) {
    #container, #todoForm {
        max-width: 30em;
    }
}

@media screen and (min-width: 48em) {
    #container, #todoForm {
        max-width: 48em;
    }
}

@media screen and (min-width: 62em) {
    #container, #todoForm {
        max-width: 62em;
    }

    #todoButtons {
        flex-direction: row;
    }
}
