body {
    display: flex;
    justify-content: center;
}

#container, #todoForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 750px;
}

#setup {
    display: flex;
    justify-content: space-between;
}

#filter {
    justify-content: space-between;
}

#notes {
    display: flex;
    flex-direction: column;
}

.note-item {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px solid #9699a3;
    padding-bottom: 15px;
}

.item1 {
    flex-grow: 2;
    align-self: flex-end;
    max-width: 200px;
}

.item2 {
    flex-grow: 5;
    max-width: 350px;
}

.item3 {
    flex-grow: 2;
    max-width: 200px;
}
